---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<!--
---
title: "A new method for diagnosing effective radiative forcing from aerosol-cloud interactions in global climate models"
collection: talks
type: "Talk"
permalink: /talks/2012-03-01-talk-1
venue: "41st ECS Symposium"
date: 2025-02-28
--- -->

<h1>41st ECS Symposium, 2025</h1>
<iframe width="50" height="40" src="https://www.youtube.com/embed/CmW1qWBBR9Y?si=8a45P0hSUh-fcS7O&amp;start=2407" 
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

Copy of my slides can be found <a href="../../files/41st-ecs-symposium-duran-feb-2025.pdf">here</a>.

<!-- OLD FORMATTING
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->
