---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<div class="video-grid">

    <div class="video-column">
    <h3 class="video-title"> 2026 Weather & Climate Livestream </h3>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/dXRuA8DOWzU?si=8ay2VkZr0XS0QExw"
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>    </iframe>
    </div>
  </div>
  
  <div class="video-column">
    <h3 class="video-title"> 2026 CESM WWGM </h3>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/qnUibSzsBqc?si=-8hlg5OpTjrYJMOA" 
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>    </iframe>
    </div>
  </div>

  <div class="video-column">
    <h3 class="video-title"> 2025 ECS Symposium </h3>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/CmW1qWBBR9Y?si=8a45P0hSUh-fcS7O&amp;start=2407" 
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>   </iframe>
    </div>
  </div>

  <div class="video-column">
    <h3 class="video-title"> 2025 CESM Workshop </h3>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/gJhN4lbjjlY?si=VjZC6-DQSuS3vSNk" 
  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>   </iframe>
    </div>
  </div>

</div>


<!-- OLD FORMATTING
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->
