---
layout: archive
title: "Research"
permalink: /teaching/
author_profile: true
---

<p> The effective radiative forcing from aerosol-cloud interactions (ERF<sub>ACI</sub>) remains one of the biggest uncertainties in our understanding of the climate system. Probing how GCMs represent ACI is an ongoing process that has highlighted the many shortcomings of trying to parameterize subgrid microphysical cloud processes with high fidelity. Recently,
  <a href="https://acp.copernicus.org/articles/23/13125/2023/">Casey Wall</a> and co-authors used a new technique to diagnose ERF<sub>ACI</sub>from liquid-topped clouds using MODIS liquid-water path (LWP) x cloud droplet effective radius (r<sub>eff</sub>) joint histograms, in an approach adapted from 
  <a href="https://journals.ametsoc.org/view/journals/clim/25/11/jcli-d-11-00248.1.xml">Mark Zelinka</a>.
  We extend this work by diagnosing ERF<sub>ACI</sub> in 4 different CMIP6 models, yielding new estimates for the Twomey Effect, LWP adjustment, and Cloud Fraction (CF) adjustment. Models show high diversity in their estimates of these components, reinforcing the difficulty GCMs have in capturing all the subgrid microphysical processes that may be relevant to ACI. 
  However, we find that the magnitude of the global-mean Twomey effect is strongly controlled by the climatological preindustrial liquid cloud fraction in the Northern Hemisphere (30-60&degN). Although this result may not be surprising (more clouds in the base state creates more opportunities for clouds to be perturbed by aerosols), our finding hints at an 
  emergent constraint on the magnitude of the Twomey effect. Models with too few (too many) liquid clouds in their base state may be underestimating (overestimating) the strength of the Twomey effect. </p>

<!--
  <a href="https://www.youtube.com/c/JKenjiLopezAlt">POV</a>. </p>
<figure style="width:65%;">
  <img src="/images/babka.jpg" alt="Speculoos Babka" height=300 width=425 style="padding: 10px;">
  <figcaption style="text-align: center;">Speculoos Babka</figcaption>
</figure>
  
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
