---
layout: archive
title: "Research"
permalink: /teaching/
author_profile: true
---

<p> The effective radiative forcing from aerosol-cloud interactions (ERF<sub>ACI</sub>) remains one of the biggest uncertainties in our understanding of the climate system. Recently,
  <a href="https://acp.copernicus.org/articles/23/13125/2023/">Casey Wall</a> and co-authors used a new technique to diagnose ERF<sub>ACI</sub> from liquid-topped clouds using MODIS liquid-water path (LWP) x cloud droplet effective radius (r<sub>eff</sub>) joint histograms, in an approach adapted from 
  <a href="https://journals.ametsoc.org/view/journals/clim/26/14/jcli-d-12-00555.1.xml"> Zelinka et al. (2013)</a>.
  We extend this work by diagnosing ERF<sub>ACI</sub> in 5 CMIP6 models, yielding new estimates for the Twomey Effect, LWP adjustment, and cloud fraction (CF) adjustment. 
  Despite significant variability in each of the three components across the ensemble, we find that the magnitude of the global-mean Twomey effect and LWP adjustment are strongly controlled by the model mean-state liquid cloud fraction. 
  Our finding hints at a potential emergent constraint on 2 components of ERFaci, which we hope to explore in a larger ensemble.
  Models with too few liquid clouds in their base state may be underestimating the strength of the Twomey effect and LWP adjustment. </p>

<figure style="width:65%;">
  <img src="/images/fig05.pdf" alt="Emergent constraints on the Twomey effect and LWP adjustment. Each shape represents the estimate of the Twomey effect (purple) and the LWP adjustment (orange)
    for a specific GCM. The vertical black line indicates the MODIS-reported global annual-mean liquid-cloud fraction over the 2003\textendash 2014 period. 
    The grey shading represents the 68 \% confidence interval (1$\sigma$ range) for the MODIS global-mean LCF. 
    The values in the top-middle section of the plot give the squared coefficient of determination for the ordinary least-squares linear-regression fit (\textit{r}\textsuperscript{2}) for each respective fit." height=300 width=425 style="padding: 10px;">
  <figcaption style="text-align: center;">Speculoos Babka</figcaption>
</figure>

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
