---
layout: archive
permalink: /year-archive/
title: "Food"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<p>I've always been in the kitchen since I was little, although I like to think my skills have improved slightly since I was about 5.
I find tremendous joy in the act of baking and cooking, but it's sharing food with others that I cherish most. I've spent many hours
watching food videos on YouTube: J. Kenji López-Alt is one of my favorites, with his headcam giving you a unique
  1st-person <a href="https://www.youtube.com/c/JKenjiLopezAlt">POV</a>. Here are just a few of my creations from recent months
 (food photography skills are still a work-in-progress).</p>
<figure style="width:65%;">
  <img src="/images/IMG-1274.jpg" alt="Pecan Sticky Buns" height=300 width=425 style="padding: 10px;">
  <figcaption>Some wonderfully delcious pecan sticky buns...</figcaption>
</figure>
<figure style="width:65%;">
  <img src="/images/scones.jpg" alt="Lemon Blueberry Scones" height=400 width=525 style="padding: 10px;">
  <figcaption>Lemon Blueberry Scones</figcaption>
</figure>
<figure style="width:65%;">
  <img src="/images/babka.jpg" alt="Speculoos Babka" height=400 width=525 style="padding: 10px;">
  <figcaption>Speculoos Babka</figcaption>
</figure>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
